apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: apps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: duyanhwork/ptit-final:1a13168-20260107-014713
          imagePullPolicy: Always
          ports:
            - containerPort: 3456
          envFrom:
            - secretRef:
                name: backend-secret
          volumeMounts:
            - name: shared-storage-vol
              mountPath: /app/public/uploads
          # readinessProbe:
          #   httpGet:
          #     path: /health
          #     port: 3456
          #     scheme: HTTP
          #   initialDelaySeconds: 25 # wait for app + DB to be ready
          #   periodSeconds: 5
          #   timeoutSeconds: 5
          #   successThreshold: 1
          #   failureThreshold: 6 # mark pod as unready if reach 6 consecutive failures
          # livenessProbe:
          #   httpGet:
          #     path: /health
          #     port: 3456
          #     scheme: HTTP
          #   initialDelaySeconds: 40 # wait for app to stabilize
          #   periodSeconds: 15
          #   timeoutSeconds: 5
          #   successThreshold: 1
          #   failureThreshold: 3 # restart if reach 3 consecutive failures
      volumes:
        - name: shared-storage-vol
          persistentVolumeClaim:
            claimName: my-shared-data
