apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
  annotations:
    helm.cattle.io/values-file-configmap: traefik-chart-values
spec:
  chart: traefik
  repo: https://helm.traefik.io/traefik
  version: 26.1.0
