apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: apps
spec:
  selector:
    app: backend
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: three-tier
  ports:
    - name: http
      port: 3456
      targetPort: 3456
  type: ClusterIP
