apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatbot
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chatbot
  template:
    metadata:
      labels:
        app: chatbot
    spec:
      containers:
        - name: chatbot
          image: duyanhwork/ptit-final-chatbot:c8b2747-20260107-011914
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          envFrom:
            - secretRef:
                name: chatbot-secret
          # readinessProbe:
          #   httpGet:
          #     path: /health
          #     port: 5000
          #     scheme: HTTP
          #   initialDelaySeconds: 25 # wait for app + DB to be ready
          #   periodSeconds: 5
          #   timeoutSeconds: 5
          #   successThreshold: 1
          #   failureThreshold: 6 # mark pod as unready if reach 6 consecutive failures
          # livenessProbe:
          #   httpGet:
          #     path: /health
          #     port: 3456
          #     scheme: HTTP
          #   initialDelaySeconds: 40 # wait for app to stabilize
          #   periodSeconds: 15
          #   timeoutSeconds: 5
          #   successThreshold: 1
          #   failureThreshold: 3 # restart if reach 3 consecutive failures
