apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps
resources:
  # - secret.yaml  # Will be replaced with sealed-secret.yaml
  - deployment.yaml
  - service.yaml
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/name: chatbot
      app.kubernetes.io/part-of: three-tier
