apiVersion: v1
kind: Service
metadata:
  name: chatbot
  namespace: apps
spec:
  selector:
    app: chatbot
    app.kubernetes.io/name: chatbot
    app.kubernetes.io/part-of: three-tier
  ports:
    - name: http
      port: 5000
      targetPort: 5000
  type: ClusterIP
